.tx-hive-cpt-cnt-google-map-viewhelper {
  .tx-hive-cpt-cnt-google-map-viewhelper__render {
    .hivecptcntgooglemap {
      height: 600px;
      width:100%;

      //.gm-style {
      //  > div:first-child > div + div > div:last-child > div > div {
      //    &:first-child > div,
      //    &:first-child > div > div > div,
      //    &:last-child,
      //    &:last-child > img {
      //      display: none !important;
      //    }
      //  }
      //  .gm-style-iw {
      //    top: 0px !important;
      //    left: 0px !important;
      //    background: #fff;
      //    padding: 0px;
      //    height: auto;
      //  }
      //}

      /* white background and box outline */
      .gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div
      {
        /* we have to use !important because we are overwritng inline styles */
        background-color: transparent !important;
        box-shadow: none !important;
        border-top: none !important; // Arrow shadow
        width: auto !important;
        height: auto !important;
      }

      /* arrow colour */
      .gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div
      {
        background-color: #fff !important;
        border-top: 0 solid transparent !important;
        box-shadow: none !important;
      }

      /* close button */
      .gm-style > div:first-child > div + div > div:last-child > div > div:last-child
      {
        margin-right: 5px;
        margin-top: 10px;
      }

      /* image icon inside close button */
      //.gm-style > div:first-child > div + div > div:last-child > div > div:last-child > img
      //{
      //  display: none;
      //}

      /* positioning of infowindow */
      .gm-style-iw
      {
        top: 22px !important;
        left: 22px !important;
      }

      .gm-style-iw .card
      {
        border: none;
      }

      address {
        margin-top: 25px;
      }
    }
  }
}